<template>
  <div>
    <span>single layout</span>
    <app-navigation />
    <hr>
    <nuxt />
    <nuxt-link to="/">
      TOPへ戻る
    </nuxt-link>
    <hr>
    <footer>
      footer
    </footer>
  </div>
</template>
<script>
import AppNavigation from '../components/AppNavigation'
export default {
  components: {
    AppNavigation
  }
}
</script>
